.header {
  background-image: url("back1.svg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__logo {
  margin-left: 2rem;
  margin-top: 2rem;
  height: 2rem;
  object-fit: contain;
}
.header__legend {
  color: #160049;
  margin-top: 2rem;
  margin-left: 2rem;
  max-width: 5rem;
}
.header__desc {
  margin-top: 2rem;
  margin-left: 2rem;
  max-width: 10rem;
}
.header__container {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.header__input {
  border: none;
  outline: none;
  border: 2px solid #7555be;
  padding: 5px 10px;
  border-radius: 50px;
}
.header__button {
  margin-top: 1rem;
  padding: 5px 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #7555be;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  letter-spacing: 4.5px;
}

.none {
    display: none;
}

.header__redr {
    margin-top: 2rem;
    text-decoration: none;
    background-color: #7455be96;
    padding: 5px 10px;
    border-radius: 50px;
    color: black;
}

@media (min-width: 620px)
{
    .header {
        background-image: url("back2.svg");
        background-position: center;
        background-size: cover;
    }
    .header__legend {
        font-size: 4rem;
    }
    .header__desc {
        font-size: 1.5rem;
        max-width: 20rem;
        color: #000;
    }
    .header__container {
        width: 30rem;
    }
    .header__input{
        padding: 10px 15px;
        font-size: 1rem;
    }
    .header__button {
        padding: 13px 16px;
    }
    
}